/* font-family: 'Share Tech Mono', monospace;
font-family: 'Kalam', cursive;
font-family: 'Zilla Slab', serif; */

body {
  /* background-color: aqua; */
  min-height: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'Zilla Slab', serif;
}

a {
  text-decoration: none;
}

.header {
  border: 2px solid black;
  height: 10%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 10px;
}

.nav-class,
.logo {
  margin: 10px;
}

#home,
#contact {
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
  font-size: 30px;
  color: white;
}

.hd {
  display: flex;
  justify-content: center;
}

.icon-links {
  display: flex;
  justify-content: center;
}

#intro,
#contact-header {
  font-family: 'Share Tech Mono', monospace;
  font-size: 60px;
}

.home-icons,
.contact-methods {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.icon-back {
  font-size: 20px;
  border-radius: 20px;
}

.icon-back {
  background-color: white;
  margin: 10px;
  padding: 10px;
}
